/*
  ****************************************
  GLOBAL
  ****************************************
 */
/*
  body {
  background-color:#0d2142;
  background-image:url('background.jpg');
  background-repeat:repeat-x;
  }
 */
a:link {
	color:#8BADCF;
}
a:visited {
	color:#8BADCF;
}
a:hover {
	color: #627eb7;
}
em {
	font-weight:bold;
}
p {
	line-height: 1.5em;
}
input, select {
	font-size:11px;
	margin:0px 10px;
}

a img {
    border: none;
}

#wrap {
	width: 720px;
	font-family: Georgia, serif;
	margin: 25px auto;
	padding: 0;
	border: 0;
	background-color:white;
/*
  border:1px solid silver;
  padding:2px;
 */
}
.content {
	min-height:400px;
}

.clearfix {
	display: block;
}
/*
  ****************************************
  HEADER
  ****************************************
 */
#header {
	height: 100px;
}
#header h1 {
	font-family: Helvetica, "Trebuchet MS", Trebuchet, Verdana, sans-serif;
}
ul.menu {
	display:table;
	list-style-type:none;
	margin:0;
	padding:0;
	float:left;
	margin-top:10px;
}
ul.menu li {
	float:left;
	width:100px;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	font-weight:bold;
}
ul.menu li a {
	text-decoration:none;
}

/*****************************************
  Inline modal windows DISPLAY
******************************************/
.hidden {display: none;}

/*****************************************
  Gallery DISPLAY
  ***************************************/
ul.gallery {
	float: left;
	min-width: 340px;
	margin: 0 20px;
	padding: 0;
}

ul.gallery li {
	display: inline;
	float: right;
	list-style-image: none;
	list-style-position: outside;
	list-style-typ: none;
	margin: 5px;
}

ul.gallery img {
	margin: 0;
	padding: 0;
}

ul.gallery img {
	background: #bbe0eb none repeat scroll 0 0;
	height: 110px;
	padding: 3px;
	width: 110px;
}

/*****************************************
  TEI DISPLAY
  ****************************************
 */
#main {
	float: left;
	width: 513px;
	margin: 0;
	padding-left: 15px;
	height: 1%;
/* Holly hack for Peekaboo Bug */
}
#nav {
	float: left;
	width: 185px;
	border-style: solid solid none solid;
	border-color: #bcd2e6;
	border-width: 1px;
}
#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
#nav li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
}
#nav li a:link, #nav li a:visited {
	color: #8badcf;
	display: block;
	padding: 8px 0 0 10px;
}
#nav li a:hover {
	color: #627eb7;
	padding: 8px 0 0 10px;
}
.unclear {
}
.gap {
}
.event {
}

li {
	font-family: Helvetica, "Trebuchet MS", Trebuchet, Verdana, arial, sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.caps {
	text-transform: capitalize;
}

.player-line {
    height: 30px;
}

.alt {
	color: #666;
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: normal;
}
h3.div_head {
	display:inline;
}
/*
  ****************************************
  SEARCH RESULTS
  ****************************************
 */
.result_div_even {
	padding:25px 0px;
	border-top:1px dotted silver;
	display:table;
	width:100%;
	font-size:80%;
	background-color:#EFEFEF;
}
.result_div_odd {
	padding:25px 0px;
	border-top:1px dotted silver;
	display:table;
	width:100%;
	font-size:80%;
}
.result_div_odd dl a, .result_div_even dl a {
	font-size:120%;
}
dl {
	padding:0;
	margin:0px 10px;
}
dl>div {
	display:table;
}
dt {
	float:left;
	width:100px;
	font-weight:bold;
}
dd {
	margin-left:125px;
}
.paging_div {
	display:table;
	margin:10px 0;
	width:100%;
}
.pagingSep, .pagingBtn {
	margin-left:5px;
	margin-right:5px;
}
.sort_results {
	margin-left:10px;
	display:inline;
}
/*
  ****************************************
  PAGES/FEATURES/BROWSE
  ****************************************
 */
.page_toc {
	font-size:12px;
}
.browse_table {
	width:100%;
}
.odd-row, .odd-row>td {
	background-color:white;
}
.even-row>td {
	background-color:#EFEFEF;
}
.addthis_button {
	float:right;
}